<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Blog</a>
            <a href="#">Photos</a>
            <a href="#">Designs</a>
        </nav>
    </header>
    <aside>
        About me!
    </aside>
    <main>
        <p>Paragraph 1!</p>
        <p>Paragraph 2!</p>
        <p>Paragraph 3!</p>
        <p>Paragraph 4!</p>
        <p>Paragraph 5!</p>
        <p>Paragraph 6!</p>
    </main>
    <footer> Copyright: Daniil Kuzmin @kuzminklk </footer>
</body>
</html>