body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    background-color:rgb(98, 92, 85);
    border: rgb(203, 168, 133);
    flex: 0 0 80px;
}

main {
    background-color:rgb(186, 183, 180);
    flex: 1;
}

footer {
    background-color: rgb(74, 71, 67);
    border: rgb(203, 168, 133);
    flex: 0 0 80px;
}