<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/style.css"/>

    <title>AI</title>

</head>
<body>
    <div>
        <h1>Here we create the life! </h1>
        <p>We create AI to serve people. We design and develop.
        Connect to our team.</p>
        <p>We use Python, PyTorch, JavaScript</p>
        <a class="first-btn" href="https://t.me/umnyieshtuki">Choose us</a>
        <a class="secondary-btn" href="https://t.me/umnyieshtuki">Contact us</a>
    </div>
    <div>
        <img src="static/aiony-haust-3TLl_97HNJo-unsplash.jpg">
    </div>
</body>
</html>
