
body {
	margin: 0;
}

body, #root, main {
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	border-radius: 4px;
}

#color-field {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	border-radius: 4px;
}