<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>kuzminklk</title>
        <link rel="stylesheet" href="css/general.css" />
    </head>

    <body>
        <header>
            <h3>kuzminklk / development</h3>
        </header>
        <main class="development">
            <section>
                <h2>Moby-Dick</h2>
                <p>Site, where you can read suck an intresting book</p>
                <img src="img/moby-dick.png" />
            </section>
        </main>
        <footer>
            <h3><a href="/">Home</a></h3>
            <h3><a href="/photography">Photography</a></h3>
            <h3><a href="/development">Development</a></h3>
            <h3><a href="/socials">Socials</a></h3>
            <h3>©2025 Daniil Kuzmin</h3>
            <h3>
                Contact me:
                <a target="_blank" href="https://t.me/kuzminklk">Telegram</a>
            </h3>
        </footer>
    </body>
</html>
