<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>kuzminklk</title>
        <link rel="stylesheet" href="css/general.css" />
    </head>

    <body>
        <header>
            <h3>kuzminklk / socials</h3>
        </header>
        <main class="socials">
            <h2>
                <a target="_blank" href="https://www.instagram.com/kuzminklk/"
                    >Instagram</a
                ><span class="label">
                    — photos of me, of nature, of people</span
                >
            </h2>
            <h2>
                <a target="_blank" href="https://t.me/kuzminklk">Telegram</a
                ><span class="label"> — contact me; photos</span>
            </h2>
            <h2>
                <a target="_blank" href="https://github.com/kuzminklk">GitHub</a
                ><span class="label"> — projects</span>
            </h2>
        </main>
        <footer>
            <h3><a href="/">Home</a></h3>
            <h3><a href="/photography">Photography</a></h3>
            <h3><a href="/development">Development</a></h3>
            <h3><a href="/socials">Socials</a></h3>
            <h3>©2025 Daniil Kuzmin</h3>
        </footer>
    </body>
</html>
