{% extends "layout.html" %} 

{% block head %}
<title>Korean drama</title>
{% endblock %} 

{% block body %}
<h1>Korean drama</h1>
<img src="static/girl.jpg" alt="Asian girl with flowers" />
<p>
  <a href="https://en.wikipedia.org/wiki/Korean_drama">Korean drama</a> (Korean: 한국 드라마; RR: Hanguk deurama), also known as K-drama
  or Koreanovela, is a Korean-language television show made in South Korea.
  These shows began to be produced around the early 1960s, but were mostly
  consumed domestically until the rise of the Korean Wave in the 1990s. They
  have since achieved significant international popularity, with millions of
  viewers across the world.
</p>

<div>
    <h2>Content:</h2>
    <ol>
        <li>Production</li>
        <li>Crew</li>
        <li>Music</li>
    </ol>
</div>
{% endblock %}
