html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, body {
  background: #fbfbf1;
  color: #04000f;
}

header {
  background: #04000f;
  color: #fbfbf1;
}

footer {
  background: #04000f;
  color: #fbfbf1;
}

@font-face {
  font-family: "Amstelvar VF";
  src: url("amstelvar.ttf");
  font-weight: 300 900;
  font-stretch: 75% 150%;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Amstelvar VF", Georgia, serif;
  font-size: 3.125vw;
}

h1 {
  text-align: justify;
  font-size: 3.125rem;
  font-stretch: 75%;
  font-weight: 450;
  margin: 15vh 0;
  line-height: 1.05;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-stretch: 80%;
  font-weight: 550;
  margin: 10vh 0;
  letter-spacing: 0.025rem;
  line-height: 1.05;
}
h2 .label {
  text-align: center;
  font-size: 1.225rem;
  font-stretch: 90%;
  font-weight: 450;
  letter-spacing: 0.0375rem;
  line-height: 1.05;
}

h3 {
  text-align: center;
  font-size: 1.25rem;
  font-stretch: 90%;
  font-weight: 500;
}

p {
  word-spacing: 0.05rem;
  letter-spacing: 0.05rem;
  line-height: 1.15;
  margin: 5vh 0;
}

a {
  color: #fbfbf1;
  text-decoration: underline;
  transition: text-decoration-color 0.075s ease;
}

a:hover {
  text-decoration-color: rgba(0, 0, 0, 0);
}

header h3 {
  letter-spacing: 0.025rem;
}

footer {
  font-size: 0.75rem;
  color: #fbfbf1;
  font-family: "PitchWeb", Courier, monospace;
}
footer h3 {
  font-size: 1rem;
}

main.socials h2 {
  text-align: justify;
}
main.socials a {
  color: #04000f;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  min-height: 17.5vh;
  padding: 2.5vh 3rem;
  display: flex;
  align-items: center;
}

main {
  min-height: 100vh;
  padding: 17.5vh 3rem;
}

main.home {
  min-height: 132.5vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main.photography, main.development {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 12.5vh;
}
main.photography img, main.development img {
  flex: auto;
  max-width: 100%;
  border-radius: 0.5rem;
}

main.development {
  padding-bottom: 30vh;
}
main.development section {
  width: 42.5vw;
}

footer {
  min-height: 17.5vh;
  padding: 3.125vh 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

main.development img, main.photography img {
  border: 2px solid #04000f;
  border-right: 4px solid #04000f;
  border-left: 4px solid #04000f;
}

@media screen and (max-width: 730px) {
  html {
    font-size: 5vw;
  }
  h1 {
    font-size: 2.5rem;
  }
  header {
    min-height: 12.5vh;
    padding: 2.5vh 1.5rem;
  }
  main {
    min-height: 75vh;
    padding: 7.5vh 1.5rem;
  }
  main.photography {
    gap: 7.5vh;
    padding: 7.5vh 0.75rem;
  }
  main.development section {
    width: 85vw;
  }
  footer {
    min-height: 12.5vh;
    padding: 2.5vh 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 7.5vw;
  }
}/*# sourceMappingURL=general.css.map */